<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.autocommit">true</property>
	<property name="hibernate.show_sql">true</property>
	<property name="format_sql">true</property>
	
	<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
	<property name="hibernate.cache.use_second_level_cache">true</property>
	<property name="hibernate.cache.use_query_cache">true</property>
	
	<!-- 基础维护-->
	<mapping resource="modules/baseinfo/hibernate-conf/Menu.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/Param.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/ParamMenu.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/Role.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/RoleMenu.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/UserInfo.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/UserLog.hbm.xml" />
	<mapping resource="modules/baseinfo/hibernate-conf/UserRole.hbm.xml" />
	
	<!-- 核心文件 -->
	<mapping resource="modules/center/hibernate-conf/Assessment.hbm.xml" />
	<mapping resource="modules/center/hibernate-conf/Company.hbm.xml" />
	<mapping resource="modules/center/hibernate-conf/Student.hbm.xml" />
	<mapping resource="modules/center/hibernate-conf/Type.hbm.xml" />

</session-factory>
</hibernate-configuration>